{% extends "layout.html" %}

{% block title %}
Forgot password
{% endblock %}

{% block main %}
<div class="container">
    <div class="sign_up_inner">
        <div class="row sign_up_form">

            {% if ok == 1 %}
                <div class="error">
                    <div class="alert alert-primary" role="alert" style="width: 300px">
                        <h4>Ok!</h4>
                        <p>Email send!</p>
                        <a href="/sign_in" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Sign in</a>
                    </div>
                </div>
            {% else %}

            <div class="col-md">
                <div class="row sign_up_log">
                    <div>
                        <a class="cs50_logo" href="https://cs50.harvard.edu/x/2020/" target="_blank">
                            <img src="/static/cs50logo.png" width="250" class="cs50_img" alt="" loading="lazy">
                        </a>
                    </div>
                    <div>
                        <p class="cs50_text">An introduction to the intellectual enterprises of computer science and the art
                            of programming.</p>
                    </div>
                </div>
                <div class="row sign_up_log">
                    <div>
                        <a class="gd_logo" href="https://www.goodreads.com/" target="_blank">
                            <img src="/static/gdlogo.png" width="250" class="gd_img" alt="" loading="lazy">
                        </a>
                    </div>
                    <div>
                        <p class="gd_text">The right book in the right hands at the right time can change the
                        world.</p>
                    </div>
                </div>
                <div class="row sign_up_log">
                    <div>
                        <a class="hr_logo" href="https://www.heroku.com/" target="_blank">
                        <img src="/static/hrlogo.png" width="250" class="hr_img" alt="" loading="lazy">
                    </a>
                    </div>
                    <div>
                        <p class="hr_text">Heroku is the quickest way for a company to become an apps company.</p>
                    </div>
                </div>
            </div>
            <div class="col-md sign_up_fm">
                <div class="sign_up_error">

                {% for msg in get_flashed_messages() %}
                    <div class="alert alert-danger" role="alert">{{ msg }}</div>
                {% endfor %}

                </div>
                <form class="needs-validation" novalidate method="post">
                    <div class="form-row justify-content-center">
                        <p>Reset your password.</p>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="col-md mb-3 col-auto sign_up_email">
                            <input name="email" type="email" class="form-control" id="validationCustom03"
                                   placeholder="Email" required>
                            <div class="invalid-feedback">Please enter email.</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Reset password</button>
                </form>
                <div class="footer_sign_up_form">
                    <a class="sign_in_s_u" href="/sign_in">Sign In</a>
                    <a class="sign_up_s_i" href="/sign_up">Sign Up</a>
                </div>
            </div>
        {% endif %}

        </div>
    </div>
</div>
{% endblock %}
